PORT=3001
TRENDYOL_API_URL=https://api.trendyol.com
TRENDYOL_SUPPLIER_ID=
TRENDYOL_API_KEY=
TRENDYOL_API_SECRET=
DATABASE_PATH=./database.sqlite
SUPABASE_URL=https://irqmqyoiwcfdxnvxrklr.supabase.co
SUPABASE_KEY=
SUPABASE_STORAGE_BUCKET=siparis-takip-foto
